.listing-view {
  margin-top: 40px;

  .listing-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .listing-description {
    color: #999;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .listing-timestamp {
    color: #999;
    margin-bottom: 20px;
  }
 }
