.listing-view {
  padding: 20px 0;

  > div {
    padding: 20px 40px;
  }

  .listing-title {
    font-size: 20px;
    font-weight: 500;
  }

  .listing-description {
    color: #999;
    font-size: 15px;
    white-space: pre-line;
  }

  .listing-info {
    color: #999;
    font-size: 15px;

    a {
      border-bottom: 1px dotted #ccc;
      padding-bottom: 2px;

      &:hover {
        border-color: #999;
        color: #777;
      }
    }
  }

  .listing-actions {
    button.right {
      margin-left: 20px;
    }
  }

  .no-listing {
    font-size: 18px;
    color: #999;
    padding: 40px;
    text-align: center;
  }

  .listing-edit-form {

    .form-warning {
      margin-bottom: 40px;
      width: 600px;
    }

    .form-group {
      margin: 0px 0 40px 0;
    }

    input {
      margin-bottom: 40px;
    }

    input,
    textarea {
      width: 600px;
    }
  }
 }
