.listing-view {
  padding: 20px 0;

  > div {
    padding: 20px 40px;
  }

  .listing-title {
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
  }

  .listing-description {
    color: #999;
    font-size: 15px;
    line-height: 22px;
    white-space: pre-line;
    word-wrap: break-word;
  }

  .listing-info {
    color: #999;
    font-size: 15px;

    a {
      border-bottom: 1px dotted #ccc;
      padding-bottom: 2px;

      &:hover {
        border-color: #999;
        color: #777;
      }
    }
  }

  .listing-actions {
    button.right {
      margin-left: 20px;
    }

    // All of this is needed for mobile compatibility.

    .btn-red-text {
      &:after {
        content: 'Delete'
      }
    }

    @media (max-width: $mobile-site-width) {
      .btn-red-text {

        .oi-l {
          margin-right: 0 !important;
        }

        .loader {
          margin-right: 0 !important;
        }

        &:after {
          content: ''
        }
      }
    }
  }

  .no-listing {
    font-size: 18px;
    color: #999;
    padding: 40px;
    text-align: center;
  }

  > .loader {
    padding: 0;
    margin: 20px auto;
  }

  .listing-edit-form {

    .form-warning {
      margin-bottom: 40px;
      width: 600px;
    }

    .form-group {
      margin: 0px 0 40px 0;
    }

    input {
      margin-bottom: 40px;
    }

    input,
    textarea {
      width: 600px;
    }

    @media (max-width: $site-width) {
      .form-warning {
        max-width: calc(100% - 20px);
      }

      input,
      textarea {
        max-width: calc(100% - 20px);
      }

      .checkbox-form-group label {
        max-width: calc(100% - 67px);
      }
    }
  }
 }
