.login-form {
  background: #fff;
  height: 100vh;
  width: 50%;
  position: relative;

  form {
    position: absolute;
    right: 80px;
    top: 80px;

    .form-warning {
      line-height: 24px;
      width: 300px;
    }

    .form-title {
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 20px;
    }

    .form-input-info {
      color: #999;
      font-size: 14px;
      margin-top: 10px;

      b {
        color: #666;
        font-weight: 600;
      }
    }

    input {
      width: 300px;
    }

    .form-bottom-link {
      text-align: center;
      margin-top: 40px;
    }
  }
}
