.post-listing-view {
  padding-top: 20px;

  .form-title {
    font-size: 20px;
    font-weight: 500;
    padding: 40px;
  }

  .form-description {
    color: #bbb;
    font-size: 15px;
    padding: 0 40px;

    ul {
      line-height: 25px;
    }
  }

  form {
    padding: 10px 40px 40px 40px;

    .form-warning {
      width: 600px;
    }

    input[type=text],
    input[type=password],
    textarea {
      width: 600px;
    }
  }
}
