.post-listing-view {
  padding-top: 20px;

  .form-title {
    font-size: 20px;
    font-weight: 500;
    padding: 40px;
  }

  .form-description {
    color: #999;
    font-size: 15px;
    padding: 0 40px;

    ul {
      line-height: 25px;
    }
  }

  form {
    padding: 10px 40px 40px 40px;

    .form-warning {
      width: 600px;
    }

    input[type=text],
    input[type=password],
    textarea {
      width: 600px;
    }

    @media (max-width: $site-width) {
      .form-warning {
        max-width: calc(100% - 20px);
      }

      input[type=text],
      input[type=password],
      textarea {
        max-width: calc(100% - 20px);
      }

      .checkbox-form-group label {
        max-width: calc(100% - 67px);
      }
    }
  }
}
