.verify-pane {
  background: #fff;
  height: 100vh;
  width: 50%;
  position: relative;

  > div {
    position: absolute;
    right: 80px;
    top: 80px;

    .verify-title {
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 20px;

      img {
        height: 40px;
        vertical-align: middle;
        margin-right: 20px;
      }
    }

    .verify-message {
      font-size: 20px;

      .verify-message-header {
        color: $green;
        font-weight: 500;
        margin: 30px 0;
      }

      .verify-message-body {
        color: #999;
        font-weight: 400;
        width: 300px;
        line-height: 30px;

        b {
          font-weight: 500;
          color: #666;
        }
      }
    }

    .verify-link {
      text-align: center;
      margin-top: 40px;
    }
  }
}
