.auth-form {
  background: #fff;
  display: inline-block;
  height: 100vh;
  width: 50%;
  position: relative;

  form {
    position: absolute;
    right: 80px;
    top: 80px;

    .form-warning {
      line-height: 24px;
      width: 300px;
    }

    .form-title {
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 20px;

      img {
        height: 40px;
        vertical-align: middle;
        margin-right: 20px;
      }
    }

    .form-input-info {
      color: #999;
      font-size: 14px;
      margin-top: 10px;

      b {
        color: #666;
        font-weight: 600;
      }
    }

    input[type=text],
    input[type=password] {
      width: 300px;
    }

    .form-bottom-link {
      text-align: center;
      margin-top: 40px;
    }
  }
}

.auth-info {
  display: inline-block;
  height: 100vh;
  vertical-align: top;
  width: 49%;
  position: relative;

  img {
    display: block;
    @include opacity(0.4);
    margin: 140px auto 0 auto;
    height: 175px;
  }

  .info-block {
    font-size: 24px;
    line-height: 34px;
    color: #999;
    text-align: center;
    margin: 40px auto;
    width: 400px;

    span.refresh {
      color: #bbb;
      font-size: 20px;
      cursor: pointer;
      padding: 10px;

      &:hover {
        color: #999;
      }
    }
  }

  .attribution {
    font-size: 13px;
    color: #999;
    position: absolute;
    right: 20px;
    bottom: 20px;

    a {
      border-bottom: 1px dotted #999;
      padding-bottom: 2px;

      &:hover {
        border-color: #666;
        color: #666;
      }
    }
  }
}

@media (max-width: $site-width) {
  .auth-form {
    width: 100%;

    form {
      position: static;
      width: 322px;
      margin: 80px auto 0 auto;
    }
  }

  .auth-info {
    display: none;
  }
}
