.listing {
  border-bottom: 1px solid #eee;
  padding: 15px 20px;

  > div {
    display: inline-block;
    vertical-align: top;
  }

  .listing-number {
    margin-right: 20px;
    width: 30px;
    text-align: center;
    padding: 5px 0;
    font-weight: 500;
    color: #ccc;
  }

  .listing-content {
    > div {
      display: block;
    }

    .listing-title {
      color: $blue;
      display: inline-block;
      font-weight: 500;
      padding: 5px 0;
      max-width: 720px;

      &:hover,
      &:focus {
        color: $dark-blue;
      }
    }

    .listing-email,
    .listing-timestamp {
      display: inline-block;
      color: #bbb;
      font-size: 14px;
      margin-right: 20px;
    }
  }
}
