.navbar {
  background: $navbar-bkg;
  font-weight: 500;
  height: 64px;

  .max-width {
    > div {
      display: inline-block;
    }
  }

  .navbar-left,
  .navbar-right {

    a {
      color: $med-blue;
      display: inline-block;
      line-height: 64px;
      padding: 0 20px;

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }

  .navbar-right {
    float: right;
  }

  .navbar-text {
    color: $med-blue;
    font-weight: 400;
    display: inline-block;
    line-height: 64px;
    padding: 0 20px;
  }
}

@media (max-width: $mobile-site-width) {
  .navbar-email {
    display: none !important;
  }
}
