.navbar {
  background: $navbar-bkg;
  font-weight: 500;
  height: 64px;

  .max-width {
    > div {
      display: inline-block;
    }
  }

  .navbar-left {

    a {
      color: $med-blue;
      display: inline-block;
      line-height: 64px;
      padding: 0 20px;

      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }
}
