$light-red: #fcf1f0;
$red: #d83a2d;
$light-blue: #f5f8fd;
$med-blue: #cddef6;
$blue: #2b71d9;
$dark-blue: #1c52a2;
$green: #00b387;
$dark-green: darken($green, 5%);
$yellow: #f3b218;
$dark-yellow: #C28E13;
$light-yellow: #FFF4D9;
// $green: #1eba6b;
