.max-width {
  margin: 0 auto;
  width: $site-width;
}

.view {
  background: #fff;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.oi-l {
  margin-right: 10px;
}

.oi-r {
  margin-left: 10px;
}
