.max-width {
  margin: 0 auto;
  width: $site-width;
}

@media (max-width: $site-width) {
  .max-width {
    width: 100%;
  }
}

.view {
  background: #fff;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.oi-l {
  margin-right: 10px;
}

.oi-r {
  margin-left: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
