body,
input,
textarea,
button {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

body {
  background: $site-bkg;
}
