button {
  background: none;
  border: none;
  @include border-radius(5px);
  outline: none;
}

.btn {
  @include border-radius(5px);
  font-weight: 500;
  padding: 10px 20px;

  .oi {
    font-size: 12px;
    margin-top: -4px;
    vertical-align: middle;
    display: inline-block;
  }
}

.btn-disabled {
  cursor: default;
}

.btn-small {
  font-size: 14px;
}

.btn-charcoal {
  background: #333;
  color: #fff;
}

.btn-gray {
  background: #eee;
  color: #999;
}

.btn-blue-text {
  background: #fff;
  color: $blue;

  &:hover,
  &:focus {
    background: $light-blue;
  }
}

.btn-green-text {
  background: #fff;
  color: $green;
}

.btn-yellow-text {
  background: #fff;
  color: $yellow;
}

.btn-red-text {
  background: #fff;
  color: $red;

  &:hover,
  &:focus {
    background: $light-red;
  }
}

.btn-green {
  background: $green;
  color: #fff;

  &:hover,
  &:focus {
    background: $dark-green;
  }
}
