button {
  background: none;
  border: none;
  @include border-radius(5px);
}

.btn {
  font-weight: 500;
  padding: 10px 20px;
}

.btn-charcoal {
  background: #333;
  color: #fff;
}

.btn-green {
  background: $green;
  color: #fff;
}

.btn-hover-red:hover {
  background: $red;
  color: #fff;
}
