.form-warning {
  background: $light-yellow;
  @include border-radius(5px);
  color: $dark-yellow;
  padding: 10px;

  > div {
    padding: 5px;
  }
}

.form-group {
  position: relative;
  padding-top: 30px;
  margin: 20px 0 40px 0;

  label {
    cursor: pointer;
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: #999;
    position: absolute;
    top: 0;
  }

  input,
  textarea {
    display: block;
  }

  textarea {
    height: 100px;
  }

  input:focus + label, textarea:focus + label {
    color: $blue;
  }
}

.checkbox-form-group {
  margin-bottom: 40px;
  position: relative;

  label {
    display: block;
    background-color: #f7f7f7;
    cursor: pointer;
    padding: 20px 20px 20px 50px;
    @include border-radius(5px);
    line-height: 22px;
    font-size: 15px;
    width: 550px;
    color: #999;

    b {
      color: #666;
      font-weight: 500;
      display: block;
      margin-bottom: 5px;
    }
  }

  input[type=checkbox] {
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 20px;
    margin-bottom: 12px;
  }

  input[type=checkbox]:checked + label {
    background: $light-blue;
  }
}
