textarea {
  @include border-radius(5px);
  border: 1px solid #ddd;
  color: #999;
  padding: 10px;
  resize: none;
  outline: none;

  &:hover {
    border-color: #ccc;
  }

  &:focus {
    border-color: $blue;
    color: #222;
  }
}
